<footer class="footer">
    <div class="container">

        <p class="text-center">
            — &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;© <a href="http://tjmclemore.com/" target="_blank">T. J. McLemore</a> + 
            <a href="https://romantic-circles.org/" target="_blank">Romantic Circles</a> &nbsp;&nbsp;&nbsp;{{ site.time | date: '%Y' }} 
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;| &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://romantic-circles.org" 
            target="_blank">romantic-circles.org</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">CC BY-NC-SA 4.0</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;—
        </p>
        <!-- <p class="text-muted">Place sticky footer content here.</p> -->
    </div>
</footer>
